h1, h2, p, li {
    font-family: 'Georgia',serif;
}


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

h2, p {
    padding: 0;
    margin: 0;
}

.container-2,
.container-3,
.container-4 {
    flex-grow: 1;
}

/* .container-1 {
    flex-grow: 0;
} */

.footer {
    flex-grow: 0;
    color: #e5e7eb;
    text-align: center;
}

.container-2-1 {
    display: flex;
    justify-content: space-between;
    margin: 10px 280px;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 140px;
    /* padding: 10px 30px;  */
    /* margin: 20px; */
}

.content-1 {
   display: flex;
   padding: 50px 140px;
   justify-content: space-between;
} 

.combo-1 {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

#imgcontent {
    width: 400px;
    height: 160px;
    background-color: #e5e7eb;
    text-align: center;
   
}

.text.hero {
    max-width: 600px;
}

.text.list {
    display: flex;
    gap: 30px;
}

.text.list a {
    color: #f9faf8;
    text-decoration: none;
    font-size: 18px;
}

.container-1,
.footer {
    background-color: #1f2937;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
} 

button,
.cta {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
}

.images {
    border: 2px solid #3882f6;
    border-radius: 7px;
    /* padding: 30px; */
    width: 90px;
    height: 90px;
}

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

#headerlogo {
    font-size: 24px;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

.text {
    color: #e5e7eb;
    font-size: 18px;
}

#h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    padding: 0;
    margin: 25px 0px;
    text-align: center;
    
}

.container-3 {
    background-color: #e5e7eb;
    padding: 0px 300px;
}

blockquote {
    color: #1f2937;
    font-style: italic;
    font-size: 36px;
}

figcaption {
    text-align: right;
    font-weight: bold;
}

.container-4 {
    background-color: white;
    /* margin: 100px 300px; */
    padding: 70px 250px;
}

.imgtext {
    color: #1f2937;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
    /* padding: 0px 20px;
    margin: 8px; */
     
}

.img1,
.img2,
.img3,
.img4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 130px;
}

button {
    height: 30px;
    width: 80px;
    border: 1px solid white;
    padding: 0px 10px;
}

.cta2 {
    display: flex;
    flex-direction: column;
}

#lastpara {
    padding: 30px 10px;
}
